<!-- prettier-ignore -->
{% capture items %}
{% for item in include.items %}
  {% assign nr_of_posts = 0 %}
  {% assign it = item | first %}
  {% assign posts = include.items[it] %}
  {% assign selection = posts | where_exp:"post", "post.layout == 'post'" %}
  {% assign selection = selection | where_exp:"post", "post.content.size > 1" %}
  {% for post in selection %}
    {% assign nr_of_posts = nr_of_posts | plus:1 %}
  {% endfor %}

  {{ nr_of_posts | plus: 1000 }}#{{ item[0] }}#{{ nr_of_posts  }}
{% endfor %}
{% endcapture %}

{% assign sorted_items = items | split:' ' | sort | reverse %}
{% for item in sorted_items limit: include.limit, offset: include.offset %}
  {% assign item_items = item | split: '#' %}
<li class="posts-list-item short-post category-list-item">
  <span class="categories">
    <h4>
      <a class="category" href="/{{include.item_type}}/{{ item_items[1] }}">
        {{ item_items[1] }} ({{ item_items[2] }})
      </a>
    </h4>
  </span>
</li>
{% endfor %}
