<nav>
  <!-- prettier-ignore -->
  {% for item in site.data.navigation %}
    {% assign current_page = page.url | remove: ".html" %}
    <a href="{{ item.link }}" {% if current_page == item.link %} class="current_page" {% endif %}>
      <h2>{{ item.name }}</h2>
    </a>
  {% endfor %}
  <div class="social">
  <!-- prettier-ignore -->
    {% assign socials = site.about.socials %}
    {% for social in socials %}
    {% assign social_type = social[0] %}
    {% assign social_url = social[1] %}
    <a target="_blank" href="{{social_url}}">
      <i class="fa-brands fa-{{social_type}} text-muted" aria-hidden="true"></i>
    </a>
    {% endfor %}
    <a href="mailto: {{site.about.email}}">
      <i class="fa fa-envelope text-muted" aria-hidden="true"></i>
    </a>
  </div>
</nav>
