<h2 class="title no-decoration">Categories</h2>
<div class="line"></div>
<div id="categories-list">
  <!-- prettier-ignore -->
  {% include categories.html limit=10 items=site.categories item_type="category" %}
</div>
<div id="extra-categories" style="display: none">
  {% include categories.html offset=10 items=site.categories
  item_type="category" %}
</div>

<script>
  function toggleCategories() {
    var extraCategories = document.getElementById("extra-categories");
    var showMoreButtonCategories = document.getElementById(
      "show-more-categories"
    );

    if (extraCategories.style.display === "none") {
      extraCategories.style.display = "block";
      showMoreButtonCategories.style.color = "#fc036f";
      showMoreButtonCategories.innerText = "show less";
    } else {
      extraCategories.style.display = "none";
      showMoreButtonCategories.style.color = "#272b32";
      showMoreButtonCategories.innerText = "show more";
    }
  }
</script>
<button
  id="show-more-categories"
  onclick="toggleCategories()"
  style="
    border-width: 0;
    padding: 0;
    background: white;
    margin-top: 0;
    font-size: 0.8em;
  "
>
  show more
</button>

<h2 class="title no-decoration" style="margin-top: 20px">Tags</h2>
<div class="line"></div>
<div id="categories-list">
  <!-- prettier-ignore -->
  {% include categories.html limit=10 items=site.tags item_type="tag" %}
</div>
<div id="extra-tags" style="display: none">
  {% include categories.html offset=10 items=site.tags item_type="tag" %}
</div>

<script>
  function toggleTags() {
    var extraCategories = document.getElementById("extra-tags");
    var showMoreButtonCategories = document.getElementById("show-more-tags");

    if (extraCategories.style.display === "none") {
      extraCategories.style.display = "block";
      showMoreButtonCategories.style.color = "#fc036f";
      showMoreButtonCategories.innerText = "show less";
    } else {
      extraCategories.style.display = "none";
      showMoreButtonCategories.style.color = "#272b32";
      showMoreButtonCategories.innerText = "show more";
    }
  }
</script>
<button
  id="show-more-tags"
  onclick="toggleTags()"
  style="
    border-width: 0;
    padding: 0;
    background: white;
    margin-top: 0;
    font-size: 0.8em;
  "
>
  show more
</button>
