<h2 class="title no-decoration">Categories</h2>
<div class="line"></div>
<div id="categories-list">
  <!-- prettier-ignore -->
  {% include categories.html limit=10 items=site.categories item_type="category" %}
</div>
<div id="extra-categories" style="display: none">
  {% include categories.html offset=10 items=site.categories
  item_type="category" %}
</div>

<button
  id="show-more-categories"
  class="show-more"
  onclick="toggleItems('categories')"
>
  show more
</button>

<h2 class="title no-decoration" style="margin-top: 20px">Tags</h2>
<div class="line"></div>
<div id="categories-list">
  <!-- prettier-ignore -->
  {% include categories.html limit=10 items=site.tags item_type="tag" %}
</div>
<div id="extra-tags" style="display: none">
  {% include categories.html offset=10 items=site.tags item_type="tag" %}
</div>

<button id="show-more-tags" class="show-more" onclick="toggleItems('tags')">
  show more
</button>

<script>
  function toggleItems(itemType) {
    var extraItems = document.getElementById("extra-" + itemType);
    var showMoreButton = document.getElementById("show-more-" + itemType);

    if (extraItems.style.display === "none") {
      extraItems.style.display = "block";
      showMoreButton.style.color = "#fc036f";
      showMoreButton.innerText = "show less";
    } else {
      extraItems.style.display = "none";
      showMoreButton.style.color = "#272b32";
      showMoreButton.innerText = "show more";
    }
  }
</script>
