---
layout: default
title: post
---

<div class="post-content" style="width: 100%">
  <div class="div-post-title title">
    {{ page.title }}
    <div class="line"></div>
    <h4 style="margin-bottom: 15px">
      <!-- prettier-ignore -->
      {% if page.tags.size != 0 %}
      tags:
      {% for tag in page.tags %}
      <a
        class="category"
        style="text-decoration: none !important"
        href="/tag/{{ tag }}"
      >
        {{ tag }}{% if page.tags.size > 1 %}, &nbsp;{% endif %}
      </a>
      <!-- prettier-ignore -->
      {% endfor %}
      {% endif %}
      {% assign date = page.date | date: "%d %b %Y" %}
      {% if date != '01 Jan 1970' %}
      <span class="date" style="float: right">
        <!-- prettier-ignore -->
        {{ date }}
      </span>
      {% endif %}
    </h4>
  </div>
  {{ content }}
</div>
